.wrapper {
  display: flex;
  height: 400px;
  color: #ffffff;
}
.wrapper p {
  margin-bottom: 15px;
}
 img {
  height: 400px;
}
.big-child {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.small-child {
  background-color: #ccc;
}
.top-mid,
.bottom-mid {
  display: flex;
  height: 350px;
}
.top-mid img,
.bottom-mid img {
  height: 350px;
}
.wrapper .big-child {
  background-color: #394043;
}
.bottom-mid .big-child {
  background-color: #f2f2f2;
}
.wrapper .big-child p {
  font-size: 0.7em;
}
.context {
  width: 400px;
}
.bts {
  border: 2px solid #a1d8c8;
  background-color: inherit;
  width: 100px;
  height: 35px;
  color: white;
}
.details-text {
  font-size: 0.7em;
  font-weight: lighter;
  color: #777777;
  margin-bottom: 15px;
}
.button-text {
  color: #777777;
}
.button-text:hover {
  color: #a1d8c8;
}
section {
  border: 0.2px solid #979797;
}

.bottom {
  text-align: center;
  margin: 0px;
  color: #ffffff;
}
.bottom p {
  margin: 0px;
  padding: 10px;
  font-weight: lighter;
}

.studio {
  font-size: 2.3em;
  margin-bottom: 20px;
}
