.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.top-box,
.mid-box,
.bottom-box {
  width: 100%;
  /* max-width: 800px; */
  margin-bottom: 30px;
}

.top-img,
.mid-img,
.bottom-img {
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Add additional styling as needed */
@media only screen and (max-width: 1023px) and (max-device-width: 736px)
 {
  .wrapper {
    padding: 0;
  }
  .top-box,
  .mid-box,
  .bottom-box {
    margin-bottom: 0;
  }
  .top-img,
  .mid-img,
  .bottom-img {
    margin-top: 0;
  }
}